<%= form_for(@disease, remote: true) do |f| %>
  <% if @disease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disease.errors.count, "error") %> prohibited this disease from being saved:</h2>

      <ul>
      <% @disease.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :cause %><br>
    <%= f.text_field :cause %>
  </div>
  <div class="field">
    <%= f.label :symptom %><br>
    <%= f.text_field :symptom %>
  </div>
  <div class="field">
    <%= f.label :treatment %><br>
    <%= f.text_field :treatment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
