<!DOCTYPE html>
<html>
<head>
  <title>Medical Diagnosis System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<%= render 'shared/navigation' %>
<div class="container theme-showcase" role="main">
<div class="jumbotron">
 
 </div>
<div class="container theme-showcase" role="main">
<div id="main">
<%= yield %>
 </div>
</div>
</body>

</html>